/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align: middle;
}

/* MY CODE */

* {
    text-decoration: none
}


header {
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-title {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}


header nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
}

header .header-works {
    display: none;
}

/*INDEX*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.vertical-center {
    display: table-cell; 
    vertical-align: middle;
}

.index-banner h2 {
    font-family: Catamaran;
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: left;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: Cormorant Garamond;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.index-links div h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}


/* MEDIA QUERY */

@media (min-width: 768px) {
    .index-banner h2 {
        font-family: Catamaran;
        font-size: 80px;
        font-weight: 900;
        line-height: 90px;
        color: #fff;
        text-align: center;
        text-shadow: 4px 4px 10px #111;
    }

    .index-banner h1 {
        font-family: Cormorant Garamond;
        font-size: 36px;
        font-weight: 100;
        font-style: italic;
        line-height: 40px;
        color: #fff;
        text-align: center;
        text-shadow: 4px 4px 10px #111;
    }



    header {
        background-color: #fff;
        width: 100%;
        height: 120px;
    }

    header nav ul li{
        display: inline-block;
        list-style: none;
        padding: 0 16px;
    }
    
    header nav ul li a {
        font-family: Catamaran;
        font-size: 28px;
        color: #111;
    }

    header nav ul li a:hover {
        color: #f99;
    }

    header .header-title {
        font-family: Catamaran;
        font-size: 42px;
        font-weight: 900;
        color: #111;
        text-transform: uppercase;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
    }
}
